/* ===== General Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== Body Styling ===== */
body {
    background-color: #0e0e15;
    color: #eaeaea;
    line-height: 1.6;
}

/* ===== Navigation Bar ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111827;
    /*background-image: url("af93b16f491411dc1efed96f3cbcf1dc (2).JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;*/
}

.logo {
    color: #00aaff;
    /* Hero blue */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #eaeaea;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #00aaff;
}

/* ===== Hero Section ===== */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(180deg, #111827, #0e0e15);
    background-image: url("12e6a24e4f56e4c9fa1f2b7783671c23.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero h2 {
    margin-bottom: 10px;
}

.tagline {
    font-style: italic;
    color: #9ca3af;
}

/* ===== Intro Overlay ===== */
.intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.intro-overlay h1 {
    color: #00aaff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.intro-overlay p {
    color: #9ca3af;
    font-style: italic;
}


/* ===== Audio Button ===== */
.audio-btn {
    background-color: #00aaff;
    color: #0e0e15;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100%;
    transition: opacity 0.3s;
}

.audio-btn:hover {
    opacity: 0.8;
}


/* ===== Sections ===== */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h3 {
    color: #00aaff;
    margin-bottom: 20px;
}

/* ===== Skills Cards ===== */
.skill-card {
    background-color: #111827;
    padding: 20px;
    margin-bottom: 15px;
    border-left: 4px solid #00aaff;
}

/* ===== Contact Links ===== */
.contact a {
    color: #00aaff;
    text-decoration: none;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

.contact a:hover {
    text-decoration: underline;
}

/* ===== Footer ===== */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111827;
    margin-top: 40px;
}